<!--
File Name: header.ejs
Author Name: Anthony Barszcz
File Description: Parital to create the header on each page.
--> 

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <main class="container">